<section id="modal">
    <div id="card">
        <div id="head">
            <h2>Confimação</h2>
            <a id="close" href="/"><i class="bi bi-x"></i></a>
        </div>
        <hr>
        <p>Deseja deletar a task: <br> <b>"<%=nomeTaskDelete%>"</b></p>
        <div id="btns">
            <a id="btnNot" href="/">Nao</a>
            <a id="btnYes" href="/delete/<%=idTaskDelete%>">Sim</a>
        </div>
    </div>
</section>