<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        <form action="/create" method="post">
            <label for="task">Digite o nome da task:</label>
            <input type="text" name="task">
            <button type="submit">Inserir task</button>
        </form>
    </header>

    <section>
        <ul>
            <%for (let i = 0; i < listTask.length; i++) {%>
                <li>
                    <%= listTask[i].task %>
                    <a href="">Editar</a>
                </li>
            <%}%>
        </ul>
    </section>


    <script src="/js/script.js"></script>
</body>
</html>